:root {
    /*  Pass color  */
    --first: #3384ff;
    /*  strip colors */
    --stripone: #7968c8;
    --striptwo: #6965dd;
    --stripthree: #f764d9;
}


/* PASS COLOR */
/* green-1 #63ad61 */
/* green-2 #61ae63  */
/* purple-1 #bb89bd */
/* purple-2 #c488c4  */
/* red #f65d5d */
/* gray-1 #979797 */
/* gray-2 #a1a1a1  */
/* yellow #f6d836 */
/* blue-1 #3683f6 */
/* blue-2 #3683f6 */
/* pink-1 #f7c7cf */
/* pink-2 #f6c7cf  */